<div class="list-container">
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-append">
                <input type="text" class="form-control" placeholder="Enter grocery item" id="txtSearch" [(ngModel)]="task" />           
                    <button class="btn btn-primary" type="button" (click)="onClick()">
                        <i class="bi bi-check-square"></i>
                         Add<!--replaced Glyphicon with Bootstrap icon-->
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="hr-container">
    <hr />
    </div>

    <div class="grocery-list">
        <h3>Your Grocery List:</h3>
        <ul class="list-group">
            <li *ngFor="let task of tasks" class="list-group-item">
                <span> {{task.name}} </span>
            </li>
         </ul>
    </div>
</div>